<section class="container mt-4">
<div class="text-center ">
    <p class="font-SFProDisplaySemibold text-lg md:text-2xl mb-2">
      Top Brand Products
    </p>
    <div class="flex gap-6 justify-center">
      <button
        class="hover:text-primary duration-300 text-xs md:text-sm font-SFProDisplaySemibold border-b-[3px] border-primary border-opacity-0"
      >
      <a href="#">All</a></button
      ><button
        class="hover:text-primary duration-300 text-xs md:text-sm font-SFProDisplaySemibold border-b-[3px] border-primary border-opacity-0"
      >
      <a href="#"> Apple</a></button
      ><button
        class="hover:text-primary duration-300 text-xs md:text-sm font-SFProDisplaySemibold border-b-[3px] border-primary border-opacity-0"
      >
      <a href="#"> Samsung</a></button
      ><button
        class="hover:text-primary duration-300 text-xs md:text-sm font-SFProDisplaySemibold border-b-[3px] border-primary border-opacity-0"
      >
      <a href="#"> Oneplus </a></button
      ><button
        class="hover:text-primary duration-300 text-xs md:text-sm font-SFProDisplaySemibold border-b-[3px] border-primary border-opacity-0"
      ><a href="#">
        JBL
      </a>
      </button>
    </div>
  </div>


<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
                <p><strong>Price:</strong> ${{item.price}}</p>
                <button class="btn btn-primary" (click)=addtocart(item)>Add to cart</button>
            </div>
        </ng-container>

    </div>
</div>
</section>
