
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container mt-4">
    <div class="row gap-2">
        <div class="col-lg-5 col-md-5">
            <section class="gallery col-md-auto">
                <div class="container">
                    <div class="img-container">
                        <img src="https://adminapi.applegadgetsbd.com/storage/media/large/3413-64537.jpg" alt=""
                            id="preview">

                        <div class="img-prev">
                            <div class="img-slide active">
                                <img src="https://adminapi.applegadgetsbd.com/storage/media/large/3413-64537.jpg" alt=""
                                    appProduct>
                            </div>
                            <div class="img-slide">
                                <img src="https://adminapi.applegadgetsbd.com/storage/media/large/3413-43484.jpg" alt=""
                                    appProduct>
                            </div>
                            <div class="img-slide">
                                <img src="https://adminapi.applegadgetsbd.com/storage/media/large/3413-94014.jpg" alt=""
                                    appProduct>
                            </div>
                            <div class="img-slide">
                                <img src="https://adminapi.applegadgetsbd.com/storage/media/large/3413-94883.jpg" alt=""
                                    appProduct>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>

        <div class="col-lg-6 col-md-6">
            <h3>iPhone 13 Pro Max</h3>
            <div class="d-flex flex-wrap gap-2">
                <div class="bg-card-1 py-2 px-3 w-fit duration-300">
                    <p class="text-sm group">Regular Price: <span class="prod-details-badge-value">128000৳</span></p>
                </div>
                <div class="bg-card-1 py-2 px-3 w-fit duration-300">
                    <p class="text-sm group">Status: <span class="prod-details-badge-value">In Stock</span></p>
                </div>
                <div class="bg-card-1 py-2 px-3 w-fit duration-300">
                    <p class="text-sm group">Product Code: <span class="prod-details-badge-value"> 21001112210-6</span>
                    </p>
                </div>
                <div class="bg-card-1 py-2 px-3 w-fit duration-300">
                    <p class="text-sm group">Brand: <span class="prod-details-badge-value">Apple</span></p>
                </div>


            </div>
            <div>
                <p><span>🪙</span> <span>
                        Purchase this product and earn 1280 Points</span></p>
            </div>

            <div>
                <p>EMI Available: <span class="text-orangr">View Plans></span></p>
            </div>


            <div>
                <p>Region: <span class="ps-5"><button class="btn btn-warning">Regular</button></span> <span
                        class="ps-4"><button class="btn btn-dark">Regular</button></span>
                </p>
                <p>Storage: <span class="ps-5" style="display:inline-block ;"><button
                            class="btn btn-warning">128GB</button></span> <span class="ps-4"><button
                            class="btn btn-dark">512 GB</button></span>
                <p>Sim: <span class="ps-5"><button class="btn btn-warning">128GB</button></span> <span
                        class="ps-4"><button class="btn btn-dark">512 GB</button></span>
                <p>Type: <span class="ps-5"><button class="btn btn-warning">Active</button></span> <span
                        class="ps-4"><button class="btn btn-dark">Inactive</button></span>
                </p>
            </div>

            <div>
                <span>
                    <button class="input-count" (click)="onDecrement()"> - </button>
                    <input class="input-count" type="text" value="{{votes}}">
                    <button class="input-count" (click)="onIncrement()"> + </button>
                </span>
                <span class="px-4"> <button>Buy Now</button></span>
                <span> <button>Add To Cart</button></span>
            </div>
        </div>
    </div>
</div>


<div class="container mt-lg-5">
    <div class="row">
        <div class="col-lg-8 col-md-8">
            <div>
                <tabset>
                    <tab heading="Description" id="tab1">
                        <div class="p-3">
                            <img src="https://adminapi.applegadgetsbd.com/storage/media/large/iphone%2013%20pro%20max%20price%20in%20bangladesh-6832.png"
                                class="img-fluid" alt="">
                            <h4><strong>Apple iPhone 13 Pro Max Price in Bangladesh</strong></h4>
                            <p>The latest Apple iPhone 13 pro max price 128000 in Bangladesh is very legitimate at Apple
                                Gadgets ltd. <span><strong>Apple iPhone 13 Pro max</strong></span> is now available in 2
                                versions <span><strong>128GB and 256GB</strong></span> (RAM/ROM). Price is now not
                                stable in any place but you can find best cheap rate at Apple Gadgets ltd. Apple iPhone
                                13 Pro Max comes in Gold, Silver, Graphite, and Sierra Blue colors for the best BD
                                price.

                                The iPhone 13 Pro Max is the best iPhone available on Bangladesh's market. It also has a
                                very affordable price in Bangladesh. It is sturdy and offers the longest battery life.
                                This iPhone 13 Pro Max camera system is also excellent. This phone is heavy and costly.
                                For those who are looking for the best Apple has, the iPhone 13 Pro Max is the phone for
                                them.</p>

                            <p class="py-3"><strong>iPhone 13 Pro Max review:</strong></p>
                            <p><strong>Design and colors:</strong></p>
                            <p><strong>A smaller notch, but slightly heavier than iPhone 12 Pro Max
                                    Sierra Blue is our favorite color:</strong></p>
                            <p>The iPhone 13 Pro Max has a slightly different look. It retains the same flat edges as
                                the iPhone 12 Pro Max, but it looks quite different. One, the larger camera array takes
                                up more space on the back of your phone than ever before.</p>
                                <p>The <strong>iPhone 13 Pro Max</strong> weighs 8.46 ounces and is significantly heavier than its predecessor (8.03 ounces). The new iPhone Pro Max has a larger battery, but I'll accept that.</p>
                                <p>The iPhone 13 Pro Max's display notch is slightly smaller than the iPhone 12 Pro Max, which Apple reduced by 20% while keeping the same Face ID tech. Although it isn't a full-screen display, it is a significant improvement on previous iPhones.</p>

                                <p><strong>Display</strong></p>
                                <p><strong>120Hz ProMotion display offers smoother performance and animations <br>A brighter screen makes it easier to see outside
                                </strong></p>
                                <p>The new ProMotion display is the biggest update to the iPhone 13 Pro Max screen and the largest upgrade. The <strong>6.7-inch panel</strong> can dynamically adjust its refresh rate between 10Hz and 120Hz. This results in smoother animations and overall performance. <br>
                                    When scrolling on The New York Times homepage using the <strong>iPhone 13 Pro Max</strong> and <strong>iPhone 12 Pro Max</strong> simultaneously, I was able to read a text more clearly on Apple's new smartphone by quickly scrolling between the displays. It feels much more responsive.
                                </p>
                                <p><strong>Cameras</strong></p>
                                <p><strong>Brighter images can be achieved with new sensors
                                    More powerful 3x optical/15x digital zoom <br> Compelling macro mode</strong></p>

                                    <p>The iPhone 13 Pro Max's camera array is larger than the iPhone 12 Pro Max. Apple's main wide camera measures 1.9mm pixels, up from 1.7mm. It also features an f/1.5 aperture that is 49% brighter than the iPhone 12 Pro Max. The ultrawide camera has a larger aperture of f/1.8 (f/2.4 on iPhone 13 Pro Max), which allows for brighter photos and a wider field of view. <br>The iPhone 13 Pro Max's Telephoto Lens offers 3x optical zoom. This is an increase from the 2.5x offered by the iPhone 12 Pro Max.</p>

                                    <p><strong>Video and Cinematic mode</strong></p>
                                    <p><strong>Cinematic mode steals show with autofocus and bokeh
                                        ProRes Support for greater creative control</strong></p>
                                        <p>You'll feel like a miniature Spielberg when you use the Cinematic video mode of the iPhone 13 Pro Max. After shooting several clips, I felt exactly that after applying a bokeh effect and switching the focus to different subjects depending on what was going on in the frame.</p>
                                        <p>In one video that I took of a German Shepherd/Shadow-Rottweiler combination, I was impressed by how the iPhone 13 Pro Max blurred out the dog in the background. I could also change the focus point quickly by pressing the display.</p>
                                        <p>The iPhone 13 Pro Max's video quality will amaze you no matter what you do. This wide shot of the Manasquan River looks DSLR-like, from the sky trees and puffy clouds to the rippling waters and swaying branches. As I zoomed in at 3x, I noticed a slight noise.</p>
                                        <p><strong>Performance</strong></p>
                                        <p><strong>A15 Bionic knocks out Android phones <br>Large graphics improvement</strong></p>
                                        <p>The iPhone 13 Pro Max's new A15 Bionic chipset is insanely fast, earning it the title of the world's fastest phone. The Warp Drive racing game was so addictive that I lost myself in it. It has fast frame rates and smooth action, even as you zoom around (and sometimes teleport!) the track. <br>Seek was also a fun app that I found very useful. It instantly identified several plants in my area, including coleus and new guinea impatiens, using the iPhone 13 Pro Max's machine-learning capabilities. </p>

                                        <p><strong>Battery life and charging <br>The longest-lasting phones have a battery life of 12 hours and 16 minutes. <br>Charging is still stuck at 20W, with no USB-C port</strong></p>
                                        <p>We now come to the best part of the iPhone 13 Pro Max review, the battery life. The iPhone 13 Pro Max's larger battery and other enhancements allowed it to last a remarkable <strong>12 hours and 16 mins </strong>on Tom's Guide battery testing. This test uses <strong>5G wireless </strong>and <strong>150 nits screen brightness.</strong> <br>Last year's iPhone 12 Pro Max lasted 10 hours and 53 minutes, while the Galaxy S21 Ultra lasted 11:25. Any battery life above 11 hours is great, so the iPhone 13 Pro Max deserves a place on our best phone battery life list.</p>

                                        <p><strong>Final Verdict of iPhone 13 Pro Max Price in Bangladesh </strong> <br>The iPhone 13 Pro Max is a rare phone that receives a 5-star rating. Best cameras and video recording capabilities, including the compelling Cinematic mode or macro mode -- are all available to you. The display is responsive at <strong>120Hz </strong>and delivers <strong>blistering</strong> performance. The battery life is longer and more efficient than ever, making it one of the most impressive 5G flagships. So please don’t wait, let’s grab the iPhone 13 pro max with the <strong>best price in Bangladesh.</strong></p>

                        </div>
                    </tab>
                    <tab heading="Specification">

                    </tab>
                    <tab heading="Video">
                        <iframe width="100%" height="500px" src="https://www.youtube.com/embed/_AW69s0kQJU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </tab>
                    <tab heading="Warranty">

                    </tab>
                </tabset>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card shadow-sm mt-5">
                <p class="text-center  p-2"><strong >Recently Viewed</strong></p>
                <hr style="margin-top: -10px;">
                <div class="d-flex p-2">
                    <div>
                        <img class="img-fluid" src="https://adminapi.applegadgetsbd.com/storage/media/thumb/3413-15910.jpg" alt="">
                    </div>
                    <div>
                        <p>iPhone 13 Pro Max</p>
                        <p>128000 ৳</p>
                        <button class="btn btn-primary">Buy Now</button>
                        <p>Add to compare</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
