<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<main class="container mt-4">
  <section>
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 ">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://adminapi.applegadgetsbd.com/storage/media/large/iPhone-14-Series-Web-Slider-1041.jpg"
                class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item">
              <img
                src="https://adminapi.applegadgetsbd.com/storage/media/large/Apple-Watch-8-&-Ultra-Web-Slider-5414.jpg"
                class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://adminapi.applegadgetsbd.com/storage/media/large/Google-Pixel-6a-5G-2355.jpg"
                class="d-block w-100 img-fluid" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div >
          <div>
            <div class="card slider-card" style="width: 24rem;">
              <img src="https://adminapi.applegadgetsbd.com/storage/media/large/Samsung-web-slticky-2--8609.jpg"
                class="card-img-top" alt="...">

            </div>
          </div>
          <div class="mt-2">
            <div class="card slider-card" style="width: 24rem;">
              <img src="https://adminapi.applegadgetsbd.com/storage/media/large/Samsung-web-slticky-2--8609.jpg"
                class="card-img-top" alt="...">

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
