<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<section>
    <div class="container mt-5">
        <div class="row row-cols-lg-2 row-cols-md-1">
            <div>
                <a >
                    <div>
                        <img src="https://adminapi.applegadgetsbd.com/storage/media/large/Google-Pixel-6-Pro-Section-Image-(1)-7624.png" class="img-fluid" alt="">
                    </div>
                </a>
            </div>
            <div>
                <a >
                    <div>
                        <img src="https://adminapi.applegadgetsbd.com/storage/media/large/Xiaomi-Redmi-K50-Section-Image-(1)-7881.png" alt="" class="img-fluid">
                    </div>
                </a>
            </div>
        </div>
        <div>

        </div>
    </div>
</section>
