<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<section class="container">
    <div class="text-center mt-4">
        <p><b>FEATURED CATEGORIES</b></p>
        <P>Get your desired product from featured category</P>
    </div>

    <div class="icon">
        <div style="background-color:#F6F8FA ; border-radius: 8%;" class="shadow-sm icon-hover">
            <a href="">
                <div class="text-center">
                    <img class="try" src="https://adminapi.applegadgetsbd.com/storage/media/medium/Phones%20&%20Tablets-01-3944.png"
                        alt="">
                    <p>Phones & Tablets</p>
                </div>
            </a>
        </div>

        <div style="background-color:#F6F8FA ; border-radius: 8%;" class="shadow-sm">
            <a href="">
                <div class="text-center">
                    <img src="https://adminapi.applegadgetsbd.com/storage/media/medium/Phones%20&%20Tablets-01-3944.png"
                        alt="">
                    <p>Phones & Tablets</p>
                </div>
            </a>
        </div>
        <div style="background-color:#F6F8FA ; border-radius: 8%;" class="shadow-sm">
            <a href="">
                <div class="text-center">
                    <img src="https://adminapi.applegadgetsbd.com/storage/media/medium/Phones%20&%20Tablets-01-3944.png"
                        alt="">
                    <p>Phones & Tablets</p>
                </div>
            </a>
        </div>
        <div style="background-color:#F6F8FA ; border-radius: 8%;" class="shadow-sm">
            <a href="">
                <div class="text-center">
                    <img src="https://adminapi.applegadgetsbd.com/storage/media/medium/Phones%20&%20Tablets-01-3944.png"
                        alt="">
                    <p>Phones & Tablets</p>
                </div>
            </a>
        </div>
        <div style="background-color:#F6F8FA ; border-radius: 8%;" class="shadow-sm">
            <a href="">
                <div class="text-center">
                    <img src="https://adminapi.applegadgetsbd.com/storage/media/medium/Phones%20&%20Tablets-01-3944.png"
                        alt="">
                    <p>Phones & Tablets</p>
                </div>
            </a>
        </div>
        <div style="background-color:#F6F8FA ; border-radius: 8%;" class="shadow-sm">
            <a href="">
                <div class="text-center">
                    <img src="https://adminapi.applegadgetsbd.com/storage/media/medium/Phones%20&%20Tablets-01-3944.png"
                        alt="">
                    <p>Phones & Tablets</p>
                </div>
            </a>
        </div>
        <div style="background-color:#F6F8FA ; border-radius: 8%;" class="shadow-sm">
            <a href="">
                <div class="text-center">
                    <img src="https://adminapi.applegadgetsbd.com/storage/media/medium/Phones%20&%20Tablets-01-3944.png"
                        alt="">
                    <p>Phones & Tablets</p>
                </div>
            </a>
        </div>
        <div style="background-color:#F6F8FA ; border-radius: 8%;" class="shadow-sm">
            <a href="">
                <div class="text-center">
                    <img src="https://adminapi.applegadgetsbd.com/storage/media/medium/Phones%20&%20Tablets-01-3944.png"
                        alt="">
                    <p>Phones & Tablets</p>
                </div>
            </a>
        </div>
        <div style="background-color:#F6F8FA ; border-radius: 8%;" class="shadow-sm">
            <a href="">
                <div class="text-center">
                    <img src="https://adminapi.applegadgetsbd.com/storage/media/medium/Phones%20&%20Tablets-01-3944.png"
                        alt="">
                    <p>Phones & Tablets</p>
                </div>
            </a>
        </div>
        <div style="background-color:#F6F8FA ; border-radius: 8%;" class="shadow-sm">
            <a href="">
                <div class="text-center">
                    <img src="https://adminapi.applegadgetsbd.com/storage/media/medium/Phones%20&%20Tablets-01-3944.png"
                        alt="">
                    <p>Phones & Tablets</p>
                </div>
            </a>
        </div>
        <div style="background-color:#F6F8FA ; border-radius: 8%;" class="shadow-sm">
            <a href="">
                <div class="text-center">
                    <img src="https://adminapi.applegadgetsbd.com/storage/media/medium/Phones%20&%20Tablets-01-3944.png"
                        alt="">
                    <p>Phones & Tablets</p>
                </div>
            </a>
        </div>
        <div style="background-color:#F6F8FA ; border-radius: 8%;" class="shadow-sm">
            <a href="">
                <div class="text-center">
                    <img src="https://adminapi.applegadgetsbd.com/storage/media/medium/Phones%20&%20Tablets-01-3944.png"
                        alt="">
                    <p>Phones & Tablets</p>
                </div>
            </a>
        </div>
        <div style="background-color:#F6F8FA ; border-radius: 8%;" class="shadow-sm">
            <a href="">
                <div class="text-center">
                    <img src="https://adminapi.applegadgetsbd.com/storage/media/medium/Phones%20&%20Tablets-01-3944.png"
                        alt="">
                    <p>Phones & Tablets</p>
                </div>
            </a>
        </div>
        <div style="background-color:#F6F8FA ; border-radius: 8%;" class="shadow-sm">
            <a href="">
                <div class="text-center">
                    <img src="https://adminapi.applegadgetsbd.com/storage/media/medium/Phones%20&%20Tablets-01-3944.png"
                        alt="">
                    <p>Phones & Tablets</p>
                </div>
            </a>
        </div>
        <div style="background-color:#F6F8FA ; border-radius: 8%;" class="shadow-sm">
            <a href="">
                <div class="text-center">
                    <p>Phones & Tablets</p>
                    <img src="https://adminapi.applegadgetsbd.com/storage/media/medium/Phones%20&%20Tablets-01-3944.png"
                        alt="">
                </div>
            </a>
        </div>
        <div style="background-color:#F6F8FA ; border-radius: 8%;" class="shadow-sm">
            <a href="">
                <div class="text-center">
                    <img src="https://adminapi.applegadgetsbd.com/storage/media/medium/Phones%20&%20Tablets-01-3944.png"
                        alt="">
                    <p>Phones & Tablets</p>
                </div>
            </a>
        </div>

    </div>
</section>
