  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<section class="mt-4">
    <div class="container" >

        <h2 class="text-center">Featured Products</h2>
        <div class="text-center">
            <a href=""><b>NEW ARRIVAL</b></a>
            <a href=""><b>RECOMMENDED</b></a>
            <a href=""><b>BEST SELLERS</b></a>
        </div>
    </div>

    <div class="cart-main container">
        <div class="pCart" style="height: 20rem;">
            <div class="text-center">
                <img src="https://adminapi.applegadgetsbd.com/storage/media/thumb/3413-15910.jpg" alt="">

                <p>iPhone 13 Pro Max</p>
            </div>
            <div class="text-center btn-div">
                <button class="btn">Buy Now</button>
                <button class="btn btn-primary">Add to cart</button>
            </div>
        </div>
        <div class="pCart">
            <div class="text-center">
                <img src="https://adminapi.applegadgetsbd.com/storage/media/thumb/3413-15910.jpg" alt="">

                <p>iPhone 13 Pro Max</p>
            </div>
            <div class="text-center btn-div">
                <button class="btn">Buy Now</button>
                <button class="btn btn-primary">Add to cart</button>
            </div>
        </div>
        <div class="pCart">
            <div class="text-center">
                <img src="https://adminapi.applegadgetsbd.com/storage/media/thumb/3413-15910.jpg" alt="">

                <p>iPhone 13 Pro Max</p>
            </div>
            <div class="text-center btn-div">
                <button class="btn">Buy Now</button>
                <button class="btn btn-primary">Add to cart</button>
            </div>
        </div>
        <div class="pCart">
            <div class="text-center">
                <img src="https://adminapi.applegadgetsbd.com/storage/media/thumb/3413-15910.jpg" alt="">

                <p>iPhone 13 Pro Max</p>
            </div>
            <div class="text-center btn-div">
                <button class="btn">Buy Now</button>
                <button class="btn btn-primary" >Add to cart</button>
            </div>
        </div>
        <div class="pCart">
            <div class="text-center">
                <img src="https://adminapi.applegadgetsbd.com/storage/media/thumb/3413-15910.jpg" alt="">

                <p>iPhone 13 Pro Max</p>
            </div>
            <div class="text-center btn-div">
                <button class="btn">Buy Now</button>
                <button class="btn btn-primary">Add to cart</button>
            </div>
        </div>
        <div class="pCart">
            <div class="text-center">
                <img src="https://adminapi.applegadgetsbd.com/storage/media/thumb/3413-15910.jpg" alt="">

                <p>iPhone 13 Pro Max</p>
            </div>
            <div class="text-center btn-div">
                <button class="btn">Buy Now</button>
                <button class="btn btn-primary">Add to cart</button>
            </div>
        </div>
    </div>
</section>
