/*
.gap-6 {
  gap: 0.25rem;
}

.justify-center {
  justify-content: center;
}
.flex {
  display: flex;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
@media (min-width: 768px)
{.md\:text-2xl {
    font-size: 1.125rem;
}}
.text-lg {
    font-size: 1.125rem;
}
.font-SFProDisplaySemibold {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mb-2 {
    margin-bottom: 0.5rem;
}
blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}
.text-center {
  text-align: center;
}
a{
  text-decoration: none;
  color: black;
  padding: 10px;

}
a:hover{
  color: orange;
}

.pCart:hover{
  /* background-color: ; */
  /* box-shadow: -4px -3px 45px 21px rgba(0,0,0,0.35);
  border-radius: 5%;
}

.cart-main{
  display:flex;

}
.btn-div{
  margin-top: 40%;

}

@media all  and (max-width: 800px) {
  .cart-main{
    display: grid;
      grid-template-columns: repeat(2,minmax(0,1fr));
      gap: 0.25rem;

  }
.pCart{
    width: 100% !important;
    display: block;
}

}

.gap-1 {
  gap: 0.25rem;
}

.grid-cols-2 {
  grid-template-columns: repeat(2,minmax(0,1fr));
  justify-content: space-between;
} */ */


/* Magic https://notepad.pw/dozKF41xR4IHY5NlqjOK*/
.containers{
  width: 90%;
  margin: 0 auto;
}

.policy{
 background-image: url(https://img.freepik.com/free-photo/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall_1258-28312.jpg?w=900&t=st=1666086240~exp=1666086840~hmac=cec340d572672709375861dbf0d71846cc02c50962d215cbc4db724126031bca);
 background-size: cover;
 background-position:center ;
 background-repeat: no-repeat;
 height: 380px;
 padding: 60px 0;


}
.round{
  padding: 23px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-size: 34px;
  background: rgba(255, 255, 255, 0.2);
  transition: all .3s ease;
  margin: 0 auto;
  position: relative;
}
.round-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
}
.policy-card h2{
  transition: all .3s ease;
  font-weight: 700;
  font-size: 16px;
  color: aliceblue;
  text-transform: uppercase;
  margin: 12px 0 5px;
}
.policy-card p{
color: aqua;
font-style: italic;

}
.policy-card :hover h2{
  background: #ff4000;
  cursor: pointer;
}
.policy-product{
  padding: 60px 0;
  background: rgb(184, 12, 12);
}
.policy-p-card{
  background: rgb(6, 207, 243);
  padding: 20px 10px 10px 10px;
  border-radius: 5px 10px 10px 10px;
  border-bottom: 1px solid #afebf0;
  position: relative;
  /* top: -170px; */
}
.date
{
  position: absolute;
  top: 0;
  left: 30px;
  z-index: 2;
  background: #ff4000;
  padding: 15px 10px;
  text-align: center;
  border-radius: 0 0 4px 3px;
}
.date h3
{
  font-size: 28px;
  font-weight: 700;
  color: #eee;
  display: block;
  margin: 0;
  padding: 0;
}
.date h4{
  color: #eee;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.policy-img
{
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.policy-img img
{
  width: 100%;
  height: 100%;
  transition: all .3s ease;
}
.policy-img img:hover{
  transform: scale(1.2);
}
.policy-p-card h2
{
text-transform: capitalize;
line-height: 24px;
font-size: 18px;
font-weight: 700;
margin: 18px 0 10px;
cursor: pointer;
transition: all .3s ease;
}
.policy-p-card p
{
color: #a8a8a8;
line-height: 21px;
font-size: 14px;
font-weight: 500;
transition: all .3s ease;
}
