<section class="container mt-16">
  <div class="text-center">
    <p class="font-SFProDisplaySemibold text-lg md:text-2xl mb-2">
      Top Brand Products
    </p>
    <div class="flex gap-6 justify-center">
      <button
        class="hover:text-primary duration-300 text-xs md:text-sm font-SFProDisplaySemibold border-b-[3px] border-primary border-opacity-100"
      >
        All</button
      ><button
        class="hover:text-primary duration-300 text-xs md:text-sm font-SFProDisplaySemibold border-b-[3px] border-primary border-opacity-0"
      >
        Apple</button
      ><button
        class="hover:text-primary duration-300 text-xs md:text-sm font-SFProDisplaySemibold border-b-[3px] border-primary border-opacity-0"
      >
        Samsung</button
      ><button
        class="hover:text-primary duration-300 text-xs md:text-sm font-SFProDisplaySemibold border-b-[3px] border-primary border-opacity-0"
      >
        Oneplus</button
      ><button
        class="hover:text-primary duration-300 text-xs md:text-sm font-SFProDisplaySemibold border-b-[3px] border-primary border-opacity-0"
      >
        JBL
      </button>
    </div>
  </div>

  <br />


  <div class="cart-main container ">

    <div class="pCart" style="height: 20rem;">
      <div
      class="text-center  duration-300 hover:box-shadow-sm bg-white bg-opacity-25 px-2 py-6 flex flex-col justify-between items-center rounded-2xl h-full"
    >
      <a class="w-[145px] h-[145px] relative" href="/product/apple-watch-series-8"
        ><img
          src="https://adminapi.applegadgetsbd.com/storage/media/thumb/Black-8338.jpg"
          alt="Apple Watch Series 8" /></a
      ><a
        class="font-SFProDisplaySemibold text-2xs mt-5 px-3"
        href="/product/apple-watch-series-8"
        >Apple Watch Series 8</a
      >
      <div>
        <p
          class="font-SFProDisplaySemibold text-tiny my-2 group-hover:text-primary duration-300"
        >
          <span>৳</span>53000
        </p>
        <div class="grid grid-cols-2 gap-1">
          <button
            class="md:font-SFProDisplaySemibold text-2xs bg-primary border border-primary rounded py-1 px-1 md:px-2 text-white duration-300"
          >
            Buy Now</button
          ><button
            class="md:font-SFProDisplaySemibold text-2xs bg-white border border-primary rounded py-1 px-1 md:px-2 text-primary duration-300"
          >
            Add to Cart
          </button>
        </div>
      </div>
      </div>

    </div>
    <div class="pCart">
      <div
      class="group text-center duration-300 hover:box-shadow-sm bg-white bg-opacity-25 px-2 py-6 flex flex-col justify-between items-center rounded-2xl h-full"
    >
      <a class="w-[145px] h-[145px] relative" href="/product/apple-watch-series-8"
        ><img
          src="https://adminapi.applegadgetsbd.com/storage/media/thumb/Black-8338.jpg"
          alt="Apple Watch Series 8" /></a
      ><a
        class="font-SFProDisplaySemibold text-2xs mt-5 px-3"
        href="/product/apple-watch-series-8"
        >Apple Watch Series 8</a
      >
      <div>
        <p
          class="font-SFProDisplaySemibold text-tiny my-2 group-hover:text-primary duration-300"
        >
          <span>৳</span>53000
        </p>
        <div class="grid grid-cols-2 gap-1">
          <button
            class="md:font-SFProDisplaySemibold text-2xs bg-primary border border-primary rounded py-1 px-1 md:px-2 text-white duration-300"
          >
            Buy Now</button
          ><button
            class="md:font-SFProDisplaySemibold text-2xs bg-white border border-primary rounded py-1 px-1 md:px-2 text-primary duration-300"
          >
            Add to Cart
          </button>
        </div>
      </div>
      </div>
    </div>
    <div class="pCart">
      <div
      class="group text-center duration-300 hover:box-shadow-sm bg-white bg-opacity-25 px-2 py-6 flex flex-col justify-between items-center rounded-2xl h-full"
    >
      <a class="w-[145px] h-[145px] relative" href="/product/apple-watch-series-8"
        ><img
          src="https://adminapi.applegadgetsbd.com/storage/media/thumb/Black-8338.jpg"
          alt="Apple Watch Series 8" /></a
      ><a
        class="font-SFProDisplaySemibold text-2xs mt-5 px-3"
        href="/product/apple-watch-series-8"
        >Apple Watch Series 8</a
      >
      <div>
        <p
          class="font-SFProDisplaySemibold text-tiny my-2 group-hover:text-primary duration-300"
        >
          <span>৳</span>53000
        </p>
        <div class="grid grid-cols-2 gap-1">
          <button
            class="md:font-SFProDisplaySemibold text-2xs bg-primary border border-primary rounded py-1 px-1 md:px-2 text-white duration-300"
          >
            Buy Now</button
          ><button
            class="md:font-SFProDisplaySemibold text-2xs bg-white border border-primary rounded py-1 px-1 md:px-2 text-primary duration-300"
          >
            Add to Cart
          </button>
        </div>
      </div>
      </div>
    </div>
    <div class="pCart">
      <div
      class="group text-center duration-300 hover:box-shadow-sm bg-white bg-opacity-25 px-2 py-6 flex flex-col justify-between items-center rounded-2xl h-full"
    >
      <a class="w-[145px] h-[145px] relative" href="/product/apple-watch-series-8"
        ><img
          src="https://adminapi.applegadgetsbd.com/storage/media/thumb/Black-8338.jpg"
          alt="Apple Watch Series 8" /></a
      ><a
        class="font-SFProDisplaySemibold text-2xs mt-5 px-3"
        href="/product/apple-watch-series-8"
        >Apple Watch Series 8</a
      >
      <div>
        <p
          class="font-SFProDisplaySemibold text-tiny my-2 group-hover:text-primary duration-300"
        >
          <span>৳</span>53000
        </p>
        <div class="grid grid-cols-2 gap-1">
          <button
            class="md:font-SFProDisplaySemibold text-2xs bg-primary border border-primary rounded py-1 px-1 md:px-2 text-white duration-300"
          >
            Buy Now</button
          ><button
            class="md:font-SFProDisplaySemibold text-2xs bg-white border border-primary rounded py-1 px-1 md:px-2 text-primary duration-300"
          >
            Add to Cart
          </button>
        </div>
      </div>
      </div>
    </div>
    <div class="pCart">
      <div
      class="group text-center duration-300 hover:box-shadow-sm bg-white bg-opacity-25 px-2 py-6 flex flex-col justify-between items-center rounded-2xl h-full"
    >
      <a class="w-[145px] h-[145px] relative" href="/product/apple-watch-series-8"
        ><img
          src="https://adminapi.applegadgetsbd.com/storage/media/thumb/Black-8338.jpg"
          alt="Apple Watch Series 8" /></a
      ><a
        class="font-SFProDisplaySemibold text-2xs mt-5 px-3"
        href="/product/apple-watch-series-8"
        >Apple Watch Series 8</a
      >
      <div>
        <p
          class="font-SFProDisplaySemibold text-tiny my-2 group-hover:text-primary duration-300"
        >
          <span>৳</span>53000
        </p>
        <div class="grid grid-cols-2 gap-1">
          <button
            class="md:font-SFProDisplaySemibold text-2xs bg-primary border border-primary rounded py-1 px-1 md:px-2 text-white duration-300"
          >
            Buy Now</button
          ><button
            class="md:font-SFProDisplaySemibold text-2xs bg-white border border-primary rounded py-1 px-1 md:px-2 text-primary duration-300"
          >
            Add to Cart
          </button>
        </div>
      </div>
      </div>
    </div>
    <div class="pCart">
      <div
      class="group text-center duration-300 hover:box-shadow-sm bg-white bg-opacity-25 px-2 py-6 flex flex-col justify-between items-center rounded-2xl h-full"
    >
      <a class="w-[145px] h-[145px] relative" href="/product/apple-watch-series-8"
        ><img
          src="https://adminapi.applegadgetsbd.com/storage/media/thumb/Black-8338.jpg"
          alt="Apple Watch Series 8" /></a
      ><a
        class="font-SFProDisplaySemibold text-2xs mt-5 px-3"
        href="/product/apple-watch-series-8"
        >Apple Watch Series 8</a
      >
      <div>
        <p
          class="font-SFProDisplaySemibold text-tiny my-2 group-hover:text-primary duration-300"
        >
          <span>৳</span>53000
        </p>
        <div class="grid grid-cols-2 gap-1">
          <button
            class="md:font-SFProDisplaySemibold text-2xs bg-primary border border-primary rounded py-1 px-1 md:px-2 text-white duration-300"
          >
            Buy Now</button
          ><button
            class="md:font-SFProDisplaySemibold text-2xs bg-white border border-primary rounded py-1 px-1 md:px-2 text-primary duration-300"
          >
            Add to Cart
          </button>
        </div>
      </div>
      </div>
    </div>
</div>
</section>
