
* {
  box-sizing: border-box;
}
.gap-6 {
  gap: 1.5rem;
}

.justify-center {
  justify-content: center;
}
.flex {
  display: flex;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
@media (min-width: 768px)
{.md\:text-2xl {
    font-size: 1.5rem;
}}
.text-lg {
    font-size: 1.125rem;
}
.font-SFProDisplaySemibold {
    font-family: SFProDisplaySemibold;
}
.mb-2 {
    margin-bottom: 0.5rem;
}
blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}
.text-center {
  text-align: center;
}
a{
  text-decoration: none;
  color: black;
  padding: 10px;

}
a:hover{
  color: orange;
}

.pCart:hover{
  /* background-color: ; */
  box-shadow: -4px -3px 45px 21px rgba(0,0,0,0.35);
  border-radius: 5%;
}

.cart-main{
  display:flex;
  grid-template-columns: repeat(4,1fr);
}
.btn-div{
  margin-top: 40%;

}

@media all  and (max-width: 800px) {
.cart-main{
  display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    gap: 0.75rem;
}
.pCart{
    width: 100% !important;
}
}

.gap-1 {
  gap: 0.25rem;
}

.grid-cols-2 {
  grid-template-columns: repeat(2,minmax(0,1fr));
  justify-content: space-between;
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #04AA6D;
  color: white;
}

.round {
  border-radius: 50%;
}

a:focus{
   outline: 3px solid rgb(220 53 69 / 50%);

}

