<section class="container mt-4">
  <div class="text-center ">
    <p class="font-SFProDisplaySemibold text-lg md:text-2xl mb-2">
      Top Brand Products
    </p>
    <div class="flex gap-6 justify-center">
      <button
        class="hover:text-primary duration-300 text-xs md:text-sm font-SFProDisplaySemibold border-b-[3px] border-primary border-opacity-0"
      >
      <a href="#">All</a></button
      ><button
        class="hover:text-primary duration-300 text-xs md:text-sm font-SFProDisplaySemibold border-b-[3px] border-primary border-opacity-0"
      >
      <a href="#"> Apple</a></button
      ><button
        class="hover:text-primary duration-300 text-xs md:text-sm font-SFProDisplaySemibold border-b-[3px] border-primary border-opacity-0"
      >
      <a href="#"> Samsung</a></button
      ><button
        class="hover:text-primary duration-300 text-xs md:text-sm font-SFProDisplaySemibold border-b-[3px] border-primary border-opacity-0"
      >
      <a href="#"> Oneplus </a></button
      ><button
        class="hover:text-primary duration-300 text-xs md:text-sm font-SFProDisplaySemibold border-b-[3px] border-primary border-opacity-0"
      ><a href="#">
        JBL
      </a>
      </button>
    </div>
  </div>


<!-- Magic -->

<!-- <section class="policy">
  <div class="containers text-center">
<div class="row">
  <div class="col-md-4">
    <div class="policy-card">
      <div class="round">
        <div class="round-icon">
          <i class="fa fa-car"></i>
        </div>
      </div>
      <h2>Online support &amp; CAll</h2>
      <p>SOme on allok</p>
    </div>
  </div>
  <div class="col-md-4"><div class="policy-card">
    <div class="round">
      <div class="round-icon">
        <i class="fa fa-car"></i>
      </div>
    </div>
    <h2>Free shipping &amp; Return</h2>
    <p>SOme on allok</p>
  </div></div>
  <div class="col-md-4"><div class="policy-card">
    <div class="round">
      <div class="round-icon">
        <i class="fa fa-car"></i>
      </div>
    </div>
    <h2>Money back Guarantee</h2>
    <p>SOme on allok</p>
  </div></div>
</div>
  </div> -->

</section>
<section class="container">
  <div class="containers">

    <owl-carousel-o [options]="customOptions">

      <ng-template carouselSlide>
         <div class="policy-p-card" >

        <div class="policy-img">
          <a class="w-[145px] h-[145px] relative" href="/product/apple-watch-series-8"
          ><img
            src="https://adminapi.applegadgetsbd.com/storage/media/thumb/Black-8338.jpg"
            alt="Apple Watch Series 8" /></a
        ><a
          class="font-SFProDisplaySemibold text-2xs mt-5 px-3"
          href="/product/apple-watch-series-8"
          >Apple Watch Series 8</a
        >
        </div>
        <div class="text-center btn-div">
          <p
            class="font-SFProDisplaySemibold text-tiny my-2 group-hover:text-primary duration-300"
          >
            <span>৳</span>53000
          </p>
          <div class="grid grid-cols-2 gap-1"><button class="md:font-SFProDisplaySemibold text-2xs bg-primary border border-primary rounded py-1 px-1 md:px-2 text-white duration-300">Buy Now</button><button class="md:font-SFProDisplaySemibold text-2xs bg-white border border-primary rounded py-1 px-1 md:px-2 text-primary duration-300">Add to Cart</button></div>
      </div></div></ng-template>
      <ng-template carouselSlide> <div class="policy-p-card" >

        <div class="policy-img">
          <a class="w-[145px] h-[145px] relative" href="/product/apple-watch-series-8"
          ><img
            src="https://adminapi.applegadgetsbd.com/storage/media/thumb/Black-8338.jpg"
            alt="Apple Watch Series 8" /></a
        ><a
          class="font-SFProDisplaySemibold text-2xs mt-5 px-3"
          href="/product/apple-watch-series-8"
          >Apple Watch Series 8</a
        >
        </div>
        <div class="text-center btn-div">
          <p
            class="font-SFProDisplaySemibold text-tiny my-2 group-hover:text-primary duration-300"
          >
            <span>৳</span>53000
          </p>
          <div class="grid grid-cols-2 gap-1"><button class="md:font-SFProDisplaySemibold text-2xs bg-primary border border-primary rounded py-1 px-1 md:px-2 text-white duration-300">Buy Now</button><button class="md:font-SFProDisplaySemibold text-2xs bg-white border border-primary rounded py-1 px-1 md:px-2 text-primary duration-300">Add to Cart</button></div>
      </div></div></ng-template>
      <ng-template carouselSlide> <div class="policy-p-card" >

        <div class="policy-img">
          <a class="w-[145px] h-[145px] relative" href="/product/apple-watch-series-8"
          ><img
            src="https://adminapi.applegadgetsbd.com/storage/media/thumb/Black-8338.jpg"
            alt="Apple Watch Series 8" /></a
        ><a
          class="font-SFProDisplaySemibold text-2xs mt-5 px-3"
          href="/product/apple-watch-series-8"
          >Apple Watch Series 8</a
        >
        </div>
        <div class="text-center btn-div">
          <p
            class="font-SFProDisplaySemibold text-tiny my-2 group-hover:text-primary duration-300"
          >
            <span>৳</span>53000
          </p>
          <div class="grid grid-cols-2 gap-1"><button class="md:font-SFProDisplaySemibold text-2xs bg-primary border border-primary rounded py-1 px-1 md:px-2 text-white duration-300">Buy Now</button><button class="md:font-SFProDisplaySemibold text-2xs bg-white border border-primary rounded py-1 px-1 md:px-2 text-primary duration-300">Add to Cart</button></div>
      </div></div></ng-template>
      <ng-template carouselSlide> <div class="policy-p-card" >

        <div class="policy-img">
          <a class="w-[145px] h-[145px] relative" href="/product/apple-watch-series-8"
          ><img
            src="https://adminapi.applegadgetsbd.com/storage/media/thumb/Black-8338.jpg"
            alt="Apple Watch Series 8" /></a
        ><a
          class="font-SFProDisplaySemibold text-2xs mt-5 px-3"
          href="/product/apple-watch-series-8"
          >Apple Watch Series 8</a
        >
        </div>
        <div class="text-center btn-div">
          <p
            class="font-SFProDisplaySemibold text-tiny my-2 group-hover:text-primary duration-300"
          >
            <span>৳</span>53000
          </p>
          <div class="grid grid-cols-2 gap-1"><button class="md:font-SFProDisplaySemibold text-2xs bg-primary border border-primary rounded py-1 px-1 md:px-2 text-white duration-300">Buy Now</button><button class="md:font-SFProDisplaySemibold text-2xs bg-white border border-primary rounded py-1 px-1 md:px-2 text-primary duration-300">Add to Cart</button></div>
      </div></div></ng-template>
      <ng-template carouselSlide> <div class="policy-p-card" >

        <div class="policy-img">
          <a class="w-[145px] h-[145px] relative" href="/product/apple-watch-series-8"
          ><img
            src="https://adminapi.applegadgetsbd.com/storage/media/thumb/Black-8338.jpg"
            alt="Apple Watch Series 8" /></a
        ><a
          class="font-SFProDisplaySemibold text-2xs mt-5 px-3"
          href="/product/apple-watch-series-8"
          >Apple Watch Series 8</a
        >
        </div>
        <div class="text-center btn-div">
          <p
            class="font-SFProDisplaySemibold text-tiny my-2 group-hover:text-primary duration-300"
          >
            <span>৳</span>53000
          </p>
          <div class="grid grid-cols-2 gap-1"><button class="md:font-SFProDisplaySemibold text-2xs bg-primary border border-primary rounded py-1 px-1 md:px-2 text-white duration-300">Buy Now</button><button class="md:font-SFProDisplaySemibold text-2xs bg-white border border-primary rounded py-1 px-1 md:px-2 text-primary duration-300">Add to Cart</button></div>
      </div></div></ng-template>
      <ng-template carouselSlide> <div class="policy-p-card" >

        <div class="policy-img">
          <a class="w-[145px] h-[145px] relative" href="/product/apple-watch-series-8"
          ><img
            src="https://adminapi.applegadgetsbd.com/storage/media/thumb/Black-8338.jpg"
            alt="Apple Watch Series 8" /></a
        ><a
          class="font-SFProDisplaySemibold text-2xs mt-5 px-3"
          href="/product/apple-watch-series-8"
          >Apple Watch Series 8</a
        >
        </div>
        <div class="text-center btn-div">
          <p
            class="font-SFProDisplaySemibold text-tiny my-2 group-hover:text-primary duration-300"
          >
            <span>৳</span>53000
          </p>
          <div class="grid grid-cols-2 gap-1"><button class="md:font-SFProDisplaySemibold text-2xs bg-primary border border-primary rounded py-1 px-1 md:px-2 text-white duration-300">Buy Now</button><button class="md:font-SFProDisplaySemibold text-2xs bg-white border border-primary rounded py-1 px-1 md:px-2 text-primary duration-300">Add to Cart</button></div>
      </div></div></ng-template>
      <ng-template carouselSlide> <div class="policy-p-card" >

        <div class="policy-img">
          <a class="w-[145px] h-[145px] relative" href="/product/apple-watch-series-8"
          ><img
            src="https://adminapi.applegadgetsbd.com/storage/media/thumb/Black-8338.jpg"
            alt="Apple Watch Series 8" /></a
        ><a
          class="font-SFProDisplaySemibold text-2xs mt-5 px-3"
          href="/product/apple-watch-series-8"
          >Apple Watch Series 8</a
        >
        </div>
        <div class="text-center btn-div">
          <p
            class="font-SFProDisplaySemibold text-tiny my-2 group-hover:text-primary duration-300"
          >
            <span>৳</span>53000
          </p>
          <div class="grid grid-cols-2 gap-1"><button class="md:font-SFProDisplaySemibold text-2xs bg-primary border border-primary rounded py-1 px-1 md:px-2 text-white duration-300">Buy Now</button><button class="md:font-SFProDisplaySemibold text-2xs bg-white border border-primary rounded py-1 px-1 md:px-2 text-primary duration-300">Add to Cart</button></div>
      </div></div></ng-template>
      <ng-template carouselSlide> <div class="policy-p-card" >

        <div class="policy-img">
          <a class="w-[145px] h-[145px] relative" href="/product/apple-watch-series-8"
          ><img
            src="https://adminapi.applegadgetsbd.com/storage/media/thumb/Black-8338.jpg"
            alt="Apple Watch Series 8" /></a
        ><a
          class="font-SFProDisplaySemibold text-2xs mt-5 px-3"
          href="/product/apple-watch-series-8"
          >Apple Watch Series 8</a
        >
        </div>
        <div class="text-center btn-div">
          <p
            class="font-SFProDisplaySemibold text-tiny my-2 group-hover:text-primary duration-300"
          >
            <span>৳</span>53000
          </p>
          <div class="grid grid-cols-2 gap-1"><button class="md:font-SFProDisplaySemibold text-2xs bg-primary border border-primary rounded py-1 px-1 md:px-2 text-white duration-300">Buy Now</button><button class="md:font-SFProDisplaySemibold text-2xs bg-white border border-primary rounded py-1 px-1 md:px-2 text-primary duration-300">Add to Cart</button></div>
      </div></div></ng-template>
      <ng-template carouselSlide> <div class="policy-p-card" >

        <div class="policy-img">
          <a class="w-[145px] h-[145px] relative" href="/product/apple-watch-series-8"
          ><img
            src="https://adminapi.applegadgetsbd.com/storage/media/thumb/Black-8338.jpg"
            alt="Apple Watch Series 8" /></a
        ><a
          class="font-SFProDisplaySemibold text-2xs mt-5 px-3"
          href="/product/apple-watch-series-8"
          >Apple Watch Series 8</a
        >
        </div>
        <div class="text-center btn-div">
          <p
            class="font-SFProDisplaySemibold text-tiny my-2 group-hover:text-primary duration-300"
          >
            <span>৳</span>53000
          </p>
          <div class="grid grid-cols-2 gap-1"><button class="md:font-SFProDisplaySemibold text-2xs bg-primary border border-primary rounded py-1 px-1 md:px-2 text-white duration-300">Buy Now</button><button class="md:font-SFProDisplaySemibold text-2xs bg-white border border-primary rounded py-1 px-1 md:px-2 text-primary duration-300">Add to Cart</button></div>
      </div></div></ng-template>
      <ng-template carouselSlide> <div class="policy-p-card" >

        <div class="policy-img">
          <a class="w-[145px] h-[145px] relative" href="/product/apple-watch-series-8"
          ><img
            src="https://adminapi.applegadgetsbd.com/storage/media/thumb/Black-8338.jpg"
            alt="Apple Watch Series 8" /></a
        ><a
          class="font-SFProDisplaySemibold text-2xs mt-5 px-3"
          href="/product/apple-watch-series-8"
          >Apple Watch Series 8</a
        >
        </div>
        <div class="text-center btn-div">
          <p
            class="font-SFProDisplaySemibold text-tiny my-2 group-hover:text-primary duration-300"
          >
            <span>৳</span>53000
          </p>
          <div class="grid grid-cols-2 gap-1"><button class="md:font-SFProDisplaySemibold text-2xs bg-primary border border-primary rounded py-1 px-1 md:px-2 text-white duration-300">Buy Now</button><button class="md:font-SFProDisplaySemibold text-2xs bg-white border border-primary rounded py-1 px-1 md:px-2 text-primary duration-300">Add to Cart</button></div>
      </div></div></ng-template>
      <ng-template carouselSlide> <div class="policy-p-card" >

        <div class="policy-img">
          <a class="w-[145px] h-[145px] relative" href="/product/apple-watch-series-8"
          ><img
            src="https://adminapi.applegadgetsbd.com/storage/media/thumb/Black-8338.jpg"
            alt="Apple Watch Series 8" /></a
        ><a
          class="font-SFProDisplaySemibold text-2xs mt-5 px-3"
          href="/product/apple-watch-series-8"
          >Apple Watch Series 8</a
        >
        </div>
        <div class="text-center btn-div">
          <p
            class="font-SFProDisplaySemibold text-tiny my-2 group-hover:text-primary duration-300"
          >
            <span>৳</span>53000
          </p>
          <div class="grid grid-cols-2 gap-1"><button class="md:font-SFProDisplaySemibold text-2xs bg-primary border border-primary rounded py-1 px-1 md:px-2 text-white duration-300">Buy Now</button><button class="md:font-SFProDisplaySemibold text-2xs bg-white border border-primary rounded py-1 px-1 md:px-2 text-primary duration-300">Add to Cart</button></div>
      </div></div></ng-template>
      <ng-template carouselSlide> <div class="policy-p-card" >

        <div class="policy-img">
          <a class="w-[145px] h-[145px] relative" href="/product/apple-watch-series-8"
          ><img
            src="https://adminapi.applegadgetsbd.com/storage/media/thumb/Black-8338.jpg"
            alt="Apple Watch Series 8" /></a
        ><a
          class="font-SFProDisplaySemibold text-2xs mt-5 px-3"
          href="/product/apple-watch-series-8"
          >Apple Watch Series 8</a
        >
        </div>
        <div class="text-center btn-div">
          <p
            class="font-SFProDisplaySemibold text-tiny my-2 group-hover:text-primary duration-300"
          >
            <span>৳</span>53000
          </p>
          <div class="grid grid-cols-2 gap-1"><button class="md:font-SFProDisplaySemibold text-2xs bg-primary border border-primary rounded py-1 px-1 md:px-2 text-white duration-300">Buy Now</button><button class="md:font-SFProDisplaySemibold text-2xs bg-white border border-primary rounded py-1 px-1 md:px-2 text-primary duration-300">Add to Cart</button></div>
      </div></div></ng-template>
      <ng-template carouselSlide> <div class="policy-p-card" >

        <div class="policy-img">
          <a class="w-[145px] h-[145px] relative" href="/product/apple-watch-series-8"
          ><img
            src="https://adminapi.applegadgetsbd.com/storage/media/thumb/Black-8338.jpg"
            alt="Apple Watch Series 8" /></a
        ><a
          class="font-SFProDisplaySemibold text-2xs mt-5 px-3"
          href="/product/apple-watch-series-8"
          >Apple Watch Series 8</a
        >
        </div>
        <div class="text-center btn-div">
          <p
            class="font-SFProDisplaySemibold text-tiny my-2 group-hover:text-primary duration-300"
          >
            <span>৳</span>53000
          </p>
          <div class="grid grid-cols-2 gap-1"><button class="md:font-SFProDisplaySemibold text-2xs bg-primary border border-primary rounded py-1 px-1 md:px-2 text-white duration-300">Buy Now</button><button class="md:font-SFProDisplaySemibold text-2xs bg-white border border-primary rounded py-1 px-1 md:px-2 text-primary duration-300">Add to Cart</button></div>
      </div></div></ng-template>
      <ng-template carouselSlide> <div class="policy-p-card" >

        <div class="policy-img">
          <a class="w-[145px] h-[145px] relative" href="/product/apple-watch-series-8"
          ><img
            src="https://adminapi.applegadgetsbd.com/storage/media/thumb/Black-8338.jpg"
            alt="Apple Watch Series 8" /></a
        ><a
          class="font-SFProDisplaySemibold text-2xs mt-5 px-3"
          href="/product/apple-watch-series-8"
          >Apple Watch Series 8</a
        >
        </div>
        <div class="text-center btn-div">
          <p
            class="font-SFProDisplaySemibold text-tiny my-2 group-hover:text-primary duration-300"
          >
            <span>৳</span>53000
          </p>
          <div class="grid grid-cols-2 gap-1"><button class="md:font-SFProDisplaySemibold text-2xs bg-primary border border-primary rounded py-1 px-1 md:px-2 text-white duration-300">Buy Now</button><button class="md:font-SFProDisplaySemibold text-2xs bg-white border border-primary rounded py-1 px-1 md:px-2 text-primary duration-300">Add to Cart</button></div>
      </div></div></ng-template>
      <ng-template carouselSlide> <div class="policy-p-card" >

        <div class="policy-img">
          <a class="w-[145px] h-[145px] relative" href="/product/apple-watch-series-8"
          ><img
            src="https://adminapi.applegadgetsbd.com/storage/media/thumb/Black-8338.jpg"
            alt="Apple Watch Series 8" /></a
        ><a
          class="font-SFProDisplaySemibold text-2xs mt-5 px-3"
          href="/product/apple-watch-series-8"
          >Apple Watch Series 8</a
        >
        </div>
        <div class="text-center btn-div">
          <p
            class="font-SFProDisplaySemibold text-tiny my-2 group-hover:text-primary duration-300"
          >
            <span>৳</span>53000
          </p>
          <div class="grid grid-cols-2 gap-1"><button class="md:font-SFProDisplaySemibold text-2xs bg-primary border border-primary rounded py-1 px-1 md:px-2 text-white duration-300">Buy Now</button><button class="md:font-SFProDisplaySemibold text-2xs bg-white border border-primary rounded py-1 px-1 md:px-2 text-primary duration-300">Add to Cart</button></div>
      </div></div></ng-template>
       <ng-template carouselSlide> <div class="policy-p-card" >

        <div class="policy-img">
          <a class="w-[145px] h-[145px] relative" href="/product/apple-watch-series-8"
          ><img
            src="https://adminapi.applegadgetsbd.com/storage/media/thumb/Black-8338.jpg"
            alt="Apple Watch Series 8" /></a
        ><a
          class="font-SFProDisplaySemibold text-2xs mt-5 px-3"
          href="/product/apple-watch-series-8"
          >Apple Watch Series 8</a
        >
        </div>
        <div class="text-center btn-div">
          <p
            class="font-SFProDisplaySemibold text-tiny my-2 group-hover:text-primary duration-300"
          >
            <span>৳</span>53000
          </p>
          <div class="grid grid-cols-2 gap-1"><button class="md:font-SFProDisplaySemibold text-2xs bg-primary border border-primary rounded py-1 px-1 md:px-2 text-white duration-300">Buy Now</button><button class="md:font-SFProDisplaySemibold text-2xs bg-white border border-primary rounded py-1 px-1 md:px-2 text-primary duration-300">Add to Cart</button></div>
      </div></div></ng-template>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

    </owl-carousel-o>
  </div>
    <!-- <div class="row">

      <div class="col-md-4">

      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4">

      </div>
    </div> -->



</section>
