.form-label-sm {
    margin-bottom: 0.25rem;
    display:block;
    font-size: .938rem;
}
.form-select-sm {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    color: rgb(0 0 0/var(--tw-text-opacity));
    --tw-text-opacity: 0.5;
    width: 100%;
}
.example {
  padding: 20px;
  color: white;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .example {background: red;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {background: green;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example {background: blue;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {background: orange;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example {background: pink;}
}
